In [18]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [19]:
tickers = ['PG','BEI.DE']
sec_data =pd.DataFrame()
for t in tickers:
    sec_data[t]= wb.DataReader(t,data_source='yahoo',start='2007-1-1')['Adj Close']

In [4]:
sec_data.tail()

                    PG     BEI.DE
Date
2020-12-01  139.369995  92.860001
2020-12-02  138.360001  92.279999
2020-12-03  137.339996  91.220001
2020-12-04  137.470001  91.879997
2020-12-07  137.679993  91.260002

In [20]:
sec_returns = np.log(sec_data/sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-12-01  0.003594 -0.009432
2020-12-02 -0.007273 -0.006266
2020-12-03 -0.007399 -0.011553
2020-12-04  0.000946  0.007209
2020-12-07  0.001526 -0.006771

[3508 rows x 2 columns]

In [6]:
#PG
sec_returns['PG'].mean()

0.0003342548481867031

In [7]:
sec_returns['PG'].mean()*250

0.08356371204667577

In [9]:
sec_returns['PG'].std()

0.011897720718332208

In [10]:
sec_returns['PG'].std()*250**0.5

0.1881194821725221

In [11]:
#Beiersdorf
sec_returns['BEI.DE'].mean()

0.00022938040991100545

In [12]:
sec_returns['BEI.DE'].mean()*250

0.05734510247775136

In [13]:
sec_returns['BEI.DE'].std()

0.013874933367469483

In [14]:
sec_returns['BEI.DE'].std()*250**0.5

0.21938195912136785

In [15]:
print(sec_returns['PG'].mean()*250)
print(sec_returns['BEI.DE'].mean()*250)

0.08356371204667577
0.05734510247775136

In [16]:
sec_returns[['PG','BEI.DE']].mean()*250

PG        0.083564
BEI.DE    0.057345
dtype: float64

In [17]:
sec_returns[['PG','BEI.DE']].std()*250**0.5

PG        0.188119
BEI.DE    0.219382
dtype: float64

In [21]:
#Covariance and Correlation
PG_var = sec_returns['PG'].var()
PG_var

0.0001415557582914315

In [23]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00019251377595171806

In [24]:
PG_var_a = sec_returns['PG'].var()*250
PG_var_a

0.03538893957285787

In [25]:
BEI_var_a = sec_returns['BEI.DE'].var()*250
BEI_var_a

0.048128443987929516

In [26]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000142  0.000045
BEI.DE  0.000045  0.000193

In [28]:
cov_matrix_a = sec_returns.cov()*250
cov_matrix_a

              PG    BEI.DE
PG      0.035389  0.011160
BEI.DE  0.011160  0.048128

In [29]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.269919
BEI.DE  0.269919  1.000000

In [30]:
#Equal Weighing Scheme
weights = np.array([0.5,0.5])

In [32]:
#Portfolio Variance
pfolio_var = np.dot(weights.T,np.dot(sec_returns.cov()*250,weights))
pfolio_var

0.026459217052492913

In [33]:
#Portfolio Volatility 
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov()*250,weights)))**0.5
pfolio_vol

0.16266289390175287

In [34]:
print(str(np.round(pfolio_vol,5)*100)+'%')

16.266%

In [35]:
#Calculating diversifiable and non-diversifiable risk of a portfolio

In [36]:
weights = np.array([0.5,0.5])

In [37]:
weights[0]

0.5

In [38]:
weights[1]

0.5

Diversifiable Risk:
diversifiable risk = portfolio variance - weighted annual variance

In [43]:
PG_var_a = sec_returns['PG'].var()*250
PG_var_a

0.03538893957285787

In [44]:
BEI_var_a = sec_returns['BEI.DE'].var()*250
BEI_var_a

0.048128443987929516

In [47]:
dr = pfolio_var - (weights[0]**2*PG_var_a)-(weights[1]**2*BEI_var_a)
print(str(dr)+'%')

0.005579871162296064%

Non-Diversifiable Risk

In [48]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.020879345890196847

In [49]:
n_dr_2 = (weights[0]**2 * PG_var_a)+(weights[1]**2*BEI_var_a)
n_dr_2

0.020879345890196847